<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
<!-- 				<p>{{ site.title }}</p> -->
				<p>PQC Lab</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/pqc-psu/pennstate-qc-lab/">Github Repository</a></li>
					<li><a href="https://arxiv.org/search/?query=swaroop+ghosh&searchtype=all&source=header">arXiv</a></li>

				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>303, Electrical Engineering West,
				   State College, PA-16801.
				</p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright, <span id="year"></span></p>

			<script>
			  document.getElementById("year").textContent = new Date().getFullYear();
			</script>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
